.logs-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 107px);
}

.logs-filter {
  flex: 0 0 300px;
  background-color: #f5f5f5; 
}

.logs-filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.logs-filter-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.logs-column {
  flex: 1;
  height: calc(100vh - 120px);
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  padding: 16px;
  font-family: "MesloLGS NF", Menlo, Monaco, Consolas, "Courier New", monospace;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logs-auto-scroll {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  position: absolute;
  padding: 10px;
  border-radius: 15px;
  top: 0;
  right: 0;
  color: black;
  background-color: white;
  z-index: 1;
}

.logs-content {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.log-entry {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
}

.log-entry:last-child {
  border-bottom: none;
}

.logs-column .download-fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.menu-button {
  text-transform: none;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}